<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - Login</title>


    @System.Web.Optimization.Styles.Render("~/cssl")

</head>
<body>
    @RenderBody()
    

    @System.Web.Optimization.Scripts.Render("~/jsl")
    @RenderSection("scripts", required: false)



</body>
</html>